<p>categories works!</p>
<h1>Add Category</h1>
<form [formGroup]="categoryForm">
    <input type = "text" 
          name = "name" 
          placeholder = " Category Name" 
          formControlName="name" >
    <br/>
    <input type = "text" 
          name = "description" 
          placeholder = "description" 
          formControlName="description" >
    <br/>
    <select formControlName="type" name="type">
        <option value="">Select Type</option>
        <option value="1">Income</option>
        <option value="2">Expense</option>
    </select>
    <br>
    <input type = "submit" 
            value = "submit" 
            (click) = "onClickSubmit()" >
  </form>

  